@import "../../../scss-variables/variables";

button {
    padding: $header-top-bottom-padding $header-left-right-padding;
    background-color: $light-gray;
    color: rgb(33, 34, 52);
    border: none;
    border-radius: 2px;
    height: 100%;

    &:active {
        outline: $light-gray solid 5px;
        outline-offset: -1px;
    }

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

@media screen and (max-width: 500px) {
    #search-button {
        padding: 0.4rem;
    }
}