.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.category {
    color: white;
    list-style-type: none;
}

@media (min-width: 1000px) {
    .categories {
        // gap: 200px;
    }
}