.product {
    list-style-type: none;
    display:flex;
    gap: 2rem;
}

.products {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 50px;
    gap: 2rem;
}

.data {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.title {
    font-weight: 200;
}

.description {
    font-size: 0.7rem;
}

@media (max-width: 800px) {
    .product {
        max-width: 80%;
        flex-direction: column;
    }

    li:nth-child(1) {
        margin: auto;
    }
}