@mixin quantity {
    font-size: 0.7rem;
    font-family: 'DejaVu Serif', 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.quantity {
    @include quantity();
    margin: auto;
}

#quantity-bought {
    width: 5rem;
    padding-right: 0;
}

.quantity-cart {
    @include quantity();
    margin-right: auto;
}