

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    min-height: 60px;
    background-color: rgb(33, 34, 52);
    align-items: center;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    .header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}