@import "../../scss-variables/variables";

.buy-button {
    height: 2rem;
    font-size: 1rem;
    margin-left: auto;
    align-self: center;
    background-color: $secondary-blue;
    color: white;
}

@media (max-width: 1000px) {
    .buy-button {
        margin: auto;
    }
}