#search-container {
    padding: 5px 20px;
    display: inline;
    grid-column: 3 / 8;
    width: 100%;
}

input[type="search"] {
    width: 100%;
    padding: 5px;

}

@media (max-width: 800px) {
    #search-container {
        grid-column: 2 / 5;
    }
}