#search-container {
    padding: 5px 20px;
    display: inline;
    grid-column: 2 / 7;
    width: 100%;
}

input[type="search"] {
    width: 100%;
}

@media (max-width: 800px) {
    #search-container {
        grid-column: 2 / 4;
    }
}